!!! 5
%html
  %head
    %title Caya
    %meta{name:'description', content:'Check if you win Taiwan Receipt Lottery with your numbers.'}
    %meta{name:'keywords', content:'taiwan winning receipt lottery numbers,taiwan lottery receipt,taiwan invoice numbers,taiwan lotto, taiwan lottery hari ini,taiwan,invoice,lottery, caya'}
    %meta{property:'og:type', content:'website'}
    %meta{property:'og:title', content:'Caya for checking invoice winning numbers'}
    %meta{property:'og:image', content:'caya-fb.png'}
    %meta{property:'og:site_name', content:'Caya Website'}
    %meta{property:'og:description', content:'You have an invoice and you find it troublesome to check if you win or not ? Calm down and breathe ... now with Caya you just enter the period and the number to know the result. Simple.'}
    %meta{name: 'viewport', content: 'width=320, initial-scale=1'}
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: 'style.css'}
    %link{rel: 'stylesheet', href: 'http://fonts.googleapis.com/css?family=Cyreal'}
    %script{src: 'https://code.jquery.com/jquery-1.11.3.min.js'}
    %script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'}
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51805819-6', 'auto');
      ga('send', 'pageview');

  %body
    %div{class: 'header'}
      %div{class: 'container'}
        %div{class: 'col-md-12'}
          %a{href: '/'} Caya
        = haml :nav
    %div{class: 'content'}
      %div{class: 'container'}
        %div{class: 'col-md-12'}
          = yield
    %div{class: 'footer'}
      %div{class: 'container'}
        = haml :mobile_nav
        %div{class: 'col-md-12'}
          Caya is a product of
          %a{href: 'https://www.facebook.com/yanfoma'}yanfoma
          |
          %a{href:'#', class:'disclaimer', 'data-toggle':'tooltip', 'data-placement':'top', 'title':'The result of this app is not definitive. You will have to confirm it with the Minister of Finance of Taiwan.'}  Disclaimer
