%div{class: 'description'}
  一張統一發票 <br/>
  Number Single Check
%form{action: '/single_check', method: 'post', class: 'form-inline'}
  %div{class: 'form-group'}
    %select{name: 'period', class: 'form-control'}
      %option{value: '01-02/2017'} 106年01-02月
      %option{value: '11-12/2016'} 105年11-12月
      %option{value: '09-10/2016'} 105年09-10月
      %option{value: '07-08/2016'} 105年07-08月
      %option{value: '05-06/2016'} 105年05-06月
      %option{value: '03-04/2016'} 105年03-04月
      %option{value: '01-02/2016'} 105年01-02月
      %option{value: '11-12/2015'} 104年11-12月
      %option{value: '09-10/2015'} 104年09-10月
      %option{value: '07-08/2015'} 104年07-08月
  %div{class: 'form-group'}
    %input{type: 'text', name: 'number', class: 'form-control', placeholder: '你的8位數字 ...'} &nbsp; 像 12345678 &nbsp;
  %div{class: 'form-group'}
    %input{type: 'submit', class: 'btn btn-primary', value: '送出'}
- if @result
  %p #{@result}
